{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block body %}
    <h1>{{ post.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|format_post_date }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
    </p>

    {{ post.content|markdown_to_html|sanitize_html }}

    {{ include('blog/_post_tags.html.twig') }}

    <div id="post-add-comment" class="well">
        {% if app.user %}
            {{ render(controller('App\\Controller\\BlogController::commentForm', { 'id': post.id })) }}
        {%  else %}
        <p>
            <a class="btn btn-success" href="{{ path('security_login') }}">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Zaloguj się
            </a>
            aby dodać komentarz
        </p>
        {% endif %}
    </div>

    <h3>
        <i class="fa fa-comments" aria-hidden="true"></i> 5 komentarzy
    </h3>

    {% for comment in post.comments %}
        <div class="row post-comment">
            <a name="comment_{{ comment.id }}"></a>
            <h4 class="col-sm-3">
                <strong>{{ comment.author.fullName }}</strong> commented on
                <strong>{{ comment.publishedAt|format_post_date('d.m.Y, H:i') }}</strong>
            </h4>
            <div class="col-sm-9">
                {{ comment.content|markdown_to_html|sanitize_html }}
            </div>
        </div>
    {% else %}
        <div class="post-comment">
            <p>Nikt jeszcze nie skomentował - bądź pierwszy!</p>
        </div>
    {% endfor %}

{% endblock %}